body{
  margin: 0;
}
.login-container {
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
.login-header {
  margin-bottom: 20px;
}

.smit-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-button {
  width: 100%;
}

.cnic-helper-text {
  margin-bottom: 24px;
  font-size: 12px;
  color: #888;
}
